AK21 PMOD1 D1  SDA
AJ21 PMOD0 D0 SCL

![[Pasted image 20230511172317.png]]


Address 0x01+*W/R signal(w=0)
get NACK
STOP

![[Pasted image 20230523172154.png]]

![[Pasted image 20230523172413.png]]